/* @media only screen and (min-width: 992px) and (max-width: 1200px) {

	
} */

@media only screen and (max-width:1220px){
    .navbar-right{
        margin-right: 0;
        margin-top: 2vh;

    }
}

/* @media only screen and (min-width: 768px) and (max-width: 992px) {
	
}

@media only screen and (min-width: 320px) and (max-width: 768px) {


}

@media only screen and (min-width: 320px) and (max-width: 520px) {

	

} */